<div class="container">

  <h1 class="text-center">Log In</h1>
  <div class="spacing-20"></div>
  <form [formGroup]="form" #formel="ngForm" (ngSubmit)="onSubmit(formel)">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div>
          <div class="error text-center"
               *ngIf="(errors && errors.non_field_errors)">
            <div *ngFor="let error of errors.non_field_errors" class="error-message">
              {{error}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group"
                   [ngClass]="{error:(form.get('username').touched && !form.get('username').valid) || (errors && errors.username)}">
                <input type="text" class="form-control" formControlName="username"
                       placeholder='Username'/>
                <div class=""
                     *ngIf="(form.get('username').touched && !form.get('username').valid) || (errors && errors.username)">
                  <div *ngIf="form.get('username').errors?.required"
                       class="error-message">
                    Username Is Required
                  </div>
                  <div *ngIf="errors && errors.username" class="error-message">
                    {{errors.username}}
                  </div>
                </div>
              </div>
              <div class="form-group"
                   [ngClass]="{error:(form.get('password').touched && !form.get('password').valid) || (errors && errors.password)}">
                <input type="password" class="form-control" formControlName="password"
                       placeholder='Password'/>
                <div class=""
                     *ngIf="(form.get('password').touched && !form.get('password').valid) || (errors && errors.password)">
                  <div *ngIf="form.get('password').errors?.required"
                       class="error-message">
                    Password is Required
                  </div>
                  <div *ngIf="errors && errors.password" class="error-message">
                    {{errors.password}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label><input type="checkbox" formControlName="rememberMe"/> &nbsp;Remember Me</label>
            </div>
            <div class="col-md-6">
              <a [routerLink]="['/account/reset-password']" class="pull-right green-font bold lh">
                Forgot Your Password ?
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <hr/>
        <button type="submit" [disabled]="formel.invalid" class="btn btn-primary">Log In
        </button>
      </div>
    </div>
  </form>
</div>
