<div>
  <h1>Log In</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <div>
        <div *ngIf="(formErrors && formErrors.nonFieldErrors)">
          <div *ngFor="let error of formErrors.nonFieldErrors" class="error-message">
            {{error}}
          </div>
        </div>
        <div>
          <div>
            <label>
              Username
              <input type="text" formControlName="username"/>
              <div *ngFor="let error of formErrors.username" class="error-message">
                {{error}}
              </div>
            </label>
          </div>
          <div>
            <label>
              Password
              <input type="password" formControlName="password"/>
              <div *ngFor="let error of formErrors.password" class="error-message">
                {{error}}
              </div>
            </label>
          </div>
        </div>
        <div>
          <div>
            <label><input type="checkbox" formControlName="rememberMe"/>Remember Me</label>
          </div>
          <div>
            <a [routerLink]="['/account/reset-password']">
              Forgot Your Password ?
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <input type="submit" value="Log In" [disabled]="form.invalid" />
    </div>
  </form>
</div>
