<div>
  <h1>CREATE_YOUR_ACCOUNT</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <div>
        {{formErrors|json}}
        <div *ngIf="(formErrors && formErrors.nonFieldErrors)">
          <div *ngFor="let error of formErrors.nonFieldErrors" class="error-message">
            {{error}}
          </div>
        </div>
        <div>
          <div>
            <label>
              First name
              <input type="text" formControlName="firstName"/>
              <div *ngFor="let error of formErrors.firstName" class="error-message">
                {{error}}
              </div>
            </label>
          </div>
          <div>
            <label>
              Last name
              <input type="text" formControlName="lastName"/>
              <div *ngFor="let error of formErrors.lastName" class="error-message">
                {{error}}
              </div>
            </label>
          </div>
          <div>
            <label>
              Username
              <input type="text" formControlName="username"/>
              <div *ngFor="let error of formErrors.username" class="error-message">
                {{error}}
              </div>
            </label>
          </div>
          <div>
            <label>
              Email
              <input type="email" formControlName="email"/>
              <div *ngFor="let error of formErrors.email" class="error-message">
                {{error}}
              </div>
            </label>
          </div>
          <div>
            <label>
              Password
              <input type="password" formControlName="password"/>
              <div *ngFor="let error of formErrors.password" class="error-message">
                {{error}}
              </div>
            </label>
          </div>
          <div>
            <label>
              Repeat Password
              <input type="password" formControlName="repeatPassword"/>
              <div *ngFor="let error of formErrors.repeatPassword" class="error-message">
                {{error}}
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div>
      <input type="submit" value="Log In"/>
    </div>
  </form>
</div>
