/** Variables */
/** Todo move to a seperate file and import */
$error-red: #d53426 !default;

/** Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** Layout */
body, html, #app-wrapper {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
#app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  flex: 0 0 75px;
  border-bottom: 1px solid #cecece;
}
.main {
  flex: 1 1 0;
  position: relative;
}
.footer {
  flex: 0 0 25px;
  border-top: 1px solid #cecece;
}

/** Forms */
.has-error, .ng-invalid.ng-touched {
  input#{&}, select#{&}, textarea#{&} {
    border-color: $error-red;
  }

  ~ label {
    color: $error-red;
  }
}

.error-message {
  color: $error-red;
}
