<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="errorMessage"
               *ngIf="(errors && errors.non_field_errors)">
            <div *ngFor="let error of errors.non_field_errors" class="alert alert-danger">
              {{error}}
            </div>
          </div>
          <form #formel="ngForm" (ngSubmit)="onSubmit(formel)" [formGroup]="form">
            <div class="form-group">
              <label>Password:</label>
              <input type="password" class="form-control"
                     formControlName="new_password1"/>
              <div class="errorMessage"
                   *ngIf="(form.get('new_password1').touched && !form.get('new_password1').valid) || (errors && errors.new_password1)">
                <div *ngIf="form.get('new_password1').hasError('required')"
                     class="alert alert-danger">
                  PASSWORD_IS_REQUIRED
                </div>
                <div *ngIf="errors && errors.new_password1" class="alert alert-danger">
                  {{errors.new_password1}}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>RETYPE_PASSWORD:</label>
              <input type="password" class="form-control"
                     formControlName="new_password2"/>
              <div class="errorMessage"
                   *ngIf="(form.get('new_password2').touched && !form.get('new_password2').valid) || (errors && errors.new_password2)">
                <div *ngIf="form.get('new_password2').hasError('equalTo')"
                     class="alert alert-danger">
                  PASSWORD_DONT_MATCH
                </div>
                <div *ngIf="errors && errors.new_password2" class="alert alert-danger">
                  {{errors.new_password2[0]}}
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" [disabled]="formel.invalid || formel.pristine"
                      class="btn btn-success btn-block">SUBMIT
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
